/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 100%;
}
.hero-container {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  padding: 2%;
}
.hero-container img {
  width: 50%;
}
.hero-container .sign-up {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero-container .sign-up h1 {
  color: #00A35E;
  font-size: 3rem;
  padding: 2%;
}
.hero-container .sign-up p {
  padding: 2%;
  color: #555555;
  font-size: 2rem;
  line-height: 3rem;
}
.hero-container .sign-up .btn {
  padding: 2% 4%;
  background-color: #FFFFFF;
  color: #00A35E;
  border: 1px solid #00A35E;
  font-size: 1.5rem;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  width: 30%;
}
.middle-row {
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
.middle-row .feature {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  padding: 2%;
  width: 32%;
}
.middle-row .feature img {
  width: 10%;
  margin: 5% auto;
}
.middle-row .feature h2 {
  font-size: 2rem;
  margin: 2% 0;
}
.middle-row .feature p {
  margin: 2% 0;
  line-height: 2rem;
  color: #555555;
  font-size: 1.5rem;
}
.bottom-section {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
}
.bottom-section .free-trial {
  width: 60%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.bottom-section .free-trial h2 {
  color: #00A35E;
  font-size: 3rem;
  margin: 5% 0;
}
.bottom-section .free-trial p {
  font-size: 1.5rem;
  color: #555555;
  line-height: 2rem;
  margin: 5% 0;
}
.bottom-section .free-trial .btn {
  padding: 2% 4%;
  background-color: #FFFFFF;
  color: #00A35E;
  border: 1px solid #00A35E;
  font-size: 1.5rem;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  width: 30%;
}
.bottom-section img {
  width: 30%;
  margin-right: 3%;
}
.content {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content h1 {
  font-size: 3rem;
  padding: 5%;
}
.content p {
  font-size: 1.5rem;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.nav-container {
  background-color: #00A35E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FAFAFA;
  padding: 0 2%;
}
.nav-container p {
  font-size: 1.5rem;
}
.nav-container .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-links a {
  padding: 3%;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1.5rem;
}
.nav-container .nav-links a:hover {
  border-bottom: 3px solid #FAFAFA;
}
.footer-container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.footer-container p {
  text-align: center;
  width: 30%;
  color: #67E6A1;
  font-size: 1.5rem;
}
.footer-container p .copyright {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 2%;
}
.footer-container a {
  text-decoration: none;
  text-align: right;
  color: #67E6A1;
  font-size: 1.5rem;
}
.footer-container .contact,
.footer-container .invisible-item {
  width: 10%;
}
