@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Variables
@bg-color: #00A35E;
@bg-color-second: #FAFAFA;

@font:'Roboto', sans-serif; 
@nav-font-color: #FAFAFA;
@heading-color: #00A35E;
@para-color: #555555;
@footer-color: #67E6A1;

@heading-font-size: 3rem;
@para-font-size: 1.5rem;
@std-line-height: 1.5rem;

@std-padding: 2%;

