@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Variables
@bg-color: #00A35E;
@font:'Roboto', sans-serif; 
@nav-font-color: #FAFAFA;
@heading-color: #00A35E;
@para-color: #555555;

@heading-font-size: 2rem;

@std-padding: 2%;

